.content {
  margin: 0 auto;
  width: 1400px;
  overflow: hidden; }

#maps {
  height: 750px;
  width: 1000px;
  margin: 0 auto;
  background-color: #E6E6E6;
  float: right; }

#options {
  width: 320px; }

#buttons {
  float: left;
  display: inline;
  background-color: blue; }

#input {
  float: left; }
