
.content
{
	margin: 0 auto;
	width: 1400px;
	overflow: hidden;
}

#maps
{
	height: 550px;
	// width: 1400px;
	width: 100%;
	margin: 0 auto;
	background-color: #E6E6E6;
	// float: right;
}

#options
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	// background-color: green;
}
#buttons
{
	// display:inline;
	margin: 0 auto;
	// width: 120px;
	// height: 120px;
	background-color: blue;
}

#schoolInformation
{
	margin: 0 auto;
	width: 70%;
	overflow: hidden;
	// background-color: blue;
}

.schoolInfoChangable
{
	float: right;
	font-weight: bold;
	margin-left: 70px;
}

.schoolInfoHeaders
{
	float: left;
}

#input
{
	// float: left;
	// width: 120px;
	// height: 120px;
}

.schoolBox
{
	width: 30%;
	background-color: blue;
	float: left;
}

.floatMargin { margin-right: 5%; }